### The AI-powered Financial Chatbot Prototype currently responds only to the given set of questions for selected companies and fiscal years:

<ol type="1">
    <li> What is the total revenue?</li>
    <li> What is the Net Income?</li>
    <li> What is the sum of total assets?</li>
    <li> What is the sum of total liabilities?</li>
    <li> What is cash flow from operating activities?</li>
    <li> What is the revenue growth(%) ?</li>
    <li> What is the net income growth(%) ?</li>
    <li> What is the assets growth(%) ?</li>
    <li> What is the liabilities growth(%) ?</li>
    <li> What is the cash flow from operations growth(%) ?</li>
    <li> What is the year by year average revenue growth rate(%)?</li>
    <li> What is the year by year average net income growth rate(%)?</li>
    <li> What is the year by year average assets growth rate(%)?</li>  
    <li> What is the year by year average liabilities growth rate(%)?</li>
    <li> What is the year by year average cash flow from operations growth rate(%)?</li>
</ol>

In [1]:
import pandas as pd
data = pd.read_csv('final_data_report.csv')
data_2 = pd.read_csv('Summary_final_report.csv')

In [2]:
data

,Unnamed: 0,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,6,Apple,2021,365817,94680,351002,287912,104038,0.000000,0.000000,0.000000,0.000000,0.000000
1,7,Apple,2022,394328,99803,352755,302083,122151,7.793788,5.410858,0.499427,4.921990,17.409985
2,8,Apple,2023,383285,96995,352583,290437,110543,-2.800461,-2.813543,-0.048759,-3.855232,-9.502992
3,0,Microsoft,2021,168088,61271,333779,191791,76740,0.000000,0.000000,0.000000,0.000000,0.000000
4,1,Microsoft,2022,198270,72738,364840,198298,89035,17.956071,18.715216,9.305858,3.392756,16.021631
5,2,Microsoft,2023,211915,72361,411976,205753,87582,6.882030,-0.518299,12.919636,3.759493,-1.631942
6,3,Tesla,2021,53821,5519,62131,30548,11497,0.000000,0.000000,0.000000,0.000000,0.000000
7,4,Tesla,2022,81462,12556,82338,36440,14724,51.357277,127.504983,32.523217,19.287678,28.068192
8,5,Tesla,2023,96773,14974,106618,43009,13256,18.795267,19.257725,29.488207,18.026894,-9.970117

In [3]:
print("Year by Year Average Growth from 2021 to 2023")
data_2

Year by Year Average Growth from 2021 to 2023

,Unnamed: 0,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,0,Apple,1.664442,0.865772,0.150223,0.355586,2.635664
1,1,Microsoft,8.279367,6.065639,7.408498,2.384083,4.796563
2,2,Tesla,23.384181,48.920903,20.670475,12.438191,6.032692

In [5]:
%run AI_Powered_Financial_ChatBot_Prototype.py

----------------------------------------------------------------------------

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Invalid Company Name. Please check and enter correct company name by starting the chatbot session again

In [6]:
%run AI_Powered_Financial_ChatBot_Prototype.py

----------------------------------------------------------------------------

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

The data for the fiscal year 2023, 2022, and 2021 is currently available

Please enter your query
The Total Revenue for Apple for fiscal year 2023 is $ 383285
----------------------------------------------------------------------------

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

The data for the fiscal year 2023, 2022, and 2021 is currently available

Please enter your query
The Cash Flow from Operating Activities for Tesla for fiscal year 2023 is $ 13256
----------------------------------------------------------------------------
Enter 'Hi' Properly!!!!! by starting the chatbot session again

In [7]:
%run AI_Powered_Financial_ChatBot_Prototype.py

----------------------------------------------------------------------------

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

The data for the fiscal year 2023, 2022, and 2021 is currently available

Please enter your query
The Year By Year Average Revenue Growth Rate(%) from 2021 to 2023 for Microsoft is 8.2794(%)
----------------------------------------------------------------------------

In [12]:
%run AI_Powered_Financial_ChatBot_Prototype.py

----------------------------------------------------------------------------

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

The data for the fiscal year 2023, 2022, and 2021 is currently available

Please enter your query
The Revenue Growth(%) for Tesla for fiscal year 2022 is 51.3573(%)
----------------------------------------------------------------------------

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

The data for the fiscal year 2023, 2022, and 2021 is currently available

Please enter your query
The Revenue Growth(%) for Tesla for fiscal year 2023 is 18.7953(%)
----------------------------------------------------------------------------